:root {
    /* colores - brand */
    --color-naranja-50: #fff5ed;
    --color-naranja-100: #ffe7d5;
    --color-naranja-200: #ffcba9;
    --color-naranja-300: #fea773;
    --color-naranja-400: #fd773a;
    --color-naranja-500: #fb4d0c;
    --color-naranja-600: #ec380a;
    --color-naranja-700: #c4260a;
    --color-naranja-800: #9b2011;
    --color-naranja-900: #7d1e11;
    --color-naranja-950: #440b06;

    --color-amarillo-500: #FBD40C;

    /* colores grises */
    --color-gris-100: #E7E7F4;
    --color-gris-200: #E1E1E1;
    --color-gris-300: #737373;
    --color-gris-400: #222222;

    /* colores neutrales */
    --color-blanco: #FDFDFD;
    --color-oscuro: #060606;

    /* Utilitis */
    --separacion: 3.125rem;

    /* FONTS */
    --fuentePrincipal: "Poppins", sans-serif;
    /* --fuenteSecundaria: 'Lato', sans-serif; */

}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: var(--fuentePrincipal);
    font-size: 1rem;
    line-height: 140%;
    color: var(--color-gris-400);
}

/* Globales */
.contenedor {
    max-width: 75rem;
    width: 90%;
    margin: 0 auto;
}

h1,
h2,
h3 {
    font-weight: 900;
    font-family: var(--fuenteSecundaria);
    margin: calc(var(--uSeparacion) / 2) 0;
}

h1 {
    font-size: 2.75rem;
}

h2 {
    font-size: 2.25rem;
}

h3 {
    font-size: 1.75rem;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    display: block;
    height: auto;
}

.titulo__seccion {
    padding: 0px 6.25rem 1.25rem 6.25rem;
    text-align: center;
    font-weight: 300;
    font-size: 2.75rem;
    letter-spacing: 0.25rem;
    text-transform: uppercase;
    border-bottom: 1px solid var(--color-gris-300);
}

/* botones */
.btn-primario {
    padding: 0.375rem 0.875rem;
    background-color: var(--color-naranja-500);
    color: var(--color-blanco);

    border: none;

    border-radius: 0.3125rem;
    -webkit-border-radius: 0.3125rem;
    -moz-border-radius: 0.3125rem;
    -ms-border-radius: 0.3125rem;
    -o-border-radius: 0.3125rem;
}

.btn-primario:hover {
    background-color: var(--color-naranja-600);
}

/* header */
.header {
    padding-top: var(--separacion);
}

.header__logo img {
    margin: 0 auto;
}

.header__navegacion {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.25rem 0;
    border-top: 1px solid var(--color-gris-200);
}

.navegacion__enlace {
    color: var(--color-gris-400);
}

.navegacion__enlace--btn {
    color: var(--color-blanco);
}

.hero {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0.25) 100%), url(../assets/img/nrd-D6Tu_L3chLE-unsplash.jpg) var(--color-gris-200) 50%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 550px;

    border-radius: 1.25rem;
    -webkit-border-radius: 1.25rem;
    -moz-border-radius: 1.25rem;
    -ms-border-radius: 1.25rem;
    -o-border-radius: 1.25rem;
}

.beneficios {
    padding: calc(var(--separacion) * 2) 0;

    display: flex;
    gap: 20px;
}

.beneficios__tarjeta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;
}

.beneficios__imagen {
    width: 150px;
    height: 150px;
    background-color: var(--color-amarillo-500);

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 6.25rem;
    -webkit-border-radius: 6.25rem;
    -moz-border-radius: 6.25rem;
    -ms-border-radius: 6.25rem;
    -o-border-radius: 6.25rem;

    box-shadow: 0px 8px 12px 0px rgba(0, 0, 0, 0.04);
}

.beneficios__titulo {
    margin-top: 1.25rem;
    font-size: 1.25rem;
    text-transform: uppercase;
}

/* servicios */
.servicios {
    padding: var(--separacion) 0;

    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 1.5rem;
}

.servicio {
    padding: 1.875rem;
    height: 18.75rem;
    border-radius: 1.25rem;
    -webkit-border-radius: 1.25rem;
    -moz-border-radius: 1.25rem;
    -ms-border-radius: 1.25rem;
    -o-border-radius: 1.25rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;


    transition-property: transform;
    transition-duration: .3s;
}

.servicio:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}

.servicio__titulo {
    font-weight: 700;
    font-size: 1.75rem;
}

.servicio__descripcion {
    font-size: 1.125rem;
}

.servicio__titulo,
.servicio__descripcion {
    color: var(--color-blanco);
}

.servicio:nth-child(1) {
    grid-column: 1 / 5;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0.35) 100%), url(../assets/img/servicio-01.jpg) var(--color-gris-200) 100% / cover no-repeat;
}

.servicio:nth-child(2) {
    grid-column: 5 / 8;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0.35) 100%), url(../assets/img/servicio-02.jpg) var(--color-gris-200) 100% / cover no-repeat;
}

.servicio:nth-child(3) {
    grid-column: 1 / 4;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0.35) 100%), url(../assets/img/servicio-03.jpg) var(--color-gris-200) 100% / cover no-repeat;

}

.servicio:nth-child(4) {
    grid-column: 4 /8;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0.35) 100%), url(../assets/img/servicio-04.jpg) var(--color-gris-200) 100% / cover no-repeat;

}

/* newsleter */
.newsletter {
    height: 450px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0.35) 100%), url(../assets/img/newsletter.jpeg) var(--color-gris-200) 100% / cover no-repeat;
    background-position: 0 0;

    border-radius: 1.25rem;
    -webkit-border-radius: 1.25rem;
    -moz-border-radius: 1.25rem;
    -ms-border-radius: 1.25rem;
    -o-border-radius: 1.25rem;

    margin-top: 2.1875rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

.newsletter__contenido {
    max-width: 34.375rem;
    color: var(--color-blanco);

    text-align: center;
}

.newsletter__titulo {
    font-weight: 400;
    padding-bottom: 0.9375rem;
}

.newsletter__descripcion {
    font-size: 1.25rem;
}

.newsletter__titulo,
.newsletter__descripcion {
    text-align: center;
}

.newsletter__formulario {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.125rem;
    padding-top: 1.875rem;
}

.newsletter__input:nth-child(1) {
    flex: 1;
    border-radius: 0.625rem;
    -webkit-border-radius: 0.625rem;
    -moz-border-radius: 0.625rem;
    -ms-border-radius: 0.625rem;
    -o-border-radius: 0.625rem;

    border: none;
    padding: 0.375rem 0.625rem;
}

.newsletter__input:focus {
    outline: 2px solid var(--color-naranja-500);
}

/* footer */
.site-footer {
    padding-top: var(--separacion);
}

.footer-grid {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(4, 1fr);
}

.footer__titulo {
    font-size: 1.25rem;
    font-weight: 700;
    margin-bottom: 0.75rem;
}

.footer__menu .footer__enlace {
    display: block;
    color: var(--color-gris-400);
}

.footer__menu__social-media {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin: 1.25rem 0;
}

.footer-grid>div:nth-child(3) .footer__enlace {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.footer__tiendas {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1.25rem 0;
}

.footer_copyright {
    padding: 1.25rem 0;
    margin: 0;
    font-weight: 700;
    text-align: center;
    background-color: var(--color-naranja-500);
    color: var(--color-blanco);
}