:root {
    /* colores - brand */
    --color-naranja-50: #fff5ed;
    --color-naranja-100: #ffe7d5;
    --color-naranja-200: #ffcba9;
    --color-naranja-300: #fea773;
    --color-naranja-400: #fd773a;
    --color-naranja-500: #fb4d0c;
    --color-naranja-600: #ec380a;
    --color-naranja-700: #c4260a;
    --color-naranja-800: #9b2011;
    --color-naranja-900: #7d1e11;
    --color-naranja-950: #440b06;
    --color-amarillo-500: #FBD40C;
    /* colores grises */
    --color-gris-100: #E7E7F4;
    --color-gris-200: #E1E1E1;
    --color-gris-300: #737373;
    --color-gris-400: #222222;
    /* colores neutrales */
    --color-blanco: #FDFDFD;
    --color-oscuro: #060606;
    /* Utilitis */
    --separacion: 3.125rem;
    /* FONTS */
    --fuentePrincipal: "Poppins", sans-serif;
}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: var(--fuentePrincipal);
    font-size: 1rem;
    line-height: 140%;
    color: var(--color-gris-400);
}

/* Globales */
.contenedor {
    max-width: 75rem;
    width: 90%;
    margin: 0 auto;
}

h1,
h2,
h3 {
    font-weight: 900;
    font-family: var(--fuenteSecundaria);
    margin: calc(var(--uSeparacion) / 2) 0;
}

h1 {
    font-size: 2.75rem;
}

h2 {
    font-size: 2.25rem;
}

h3 {
    font-size: 1.75rem;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    display: block;
    height: auto;
}

.titulo__seccion {
    text-align: center;
    font-weight: 300;
    font-size: 28px;
    padding: 0px 0 10px 0;
    letter-spacing: 0.125rem;
    text-transform: uppercase;
    border-bottom: 1px solid var(--color-gris-300);
    line-height: 1.4;
    text-align: left;
}

@media (width >=768px) {
    .titulo__seccion {
        font-size: 2.75rem;
        letter-spacing: 4px;
        text-align: center;
    }
}

/* botones */
.btn-primario {
    padding: 0.375rem 0.875rem;
    background-color: var(--color-naranja-500);
    color: var(--color-blanco);
    border: none;
    border-radius: 0.3125rem;
    -webkit-border-radius: 0.3125rem;
    -moz-border-radius: 0.3125rem;
    -ms-border-radius: 0.3125rem;
    -o-border-radius: 0.3125rem;
}

.btn-primario:hover {
    background-color: var(--color-naranja-600);
}

.btn__icono {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

/* header Home */
.header {
    padding: 1.5625rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    --icono-menu-boton: url(../assets/icons/navegacion/menu.svg);
    --opacidad-menu: 0;
    --evento-pointer-menu: none;
}

.header__logo {
    width: max(9.375rem, 20%);
}

.header__navegacion {
    pointer-events: var(--evento-pointer-menu);
    opacity: var(--opacidad-menu);
    transition: opacity .4s;
    display: flex;
    flex-direction: column;
    gap: 1.5625rem;
    text-align: center;
    width: 95%;
    position: absolute;
    margin: 0 auto;
    padding: 1.5625rem;
    border-radius: 1rem;
    top: 95px;
    bottom: 0;
    left: 0;
    right: 0;
    background: #fafafa10;
    backdrop-filter: blur(0.375rem);
    border: 1px solid var(--color-naranja-100);

    .navegacion__enlace {
        color: var(--color-blanco);
    }
}

.header__boton-menu {
    width: 40px;
    height: 40px;
    border: none;
    background-image: var(--icono-menu-boton);
    background-size: cover;
    background-position: center;
    cursor: pointer;
    transition: background-image .3s;
}

.header:has(.header__menu-input:checked) {
    --icono-menu-boton: url(../assets/icons/navegacion/menu-scale.svg);
    --opacidad-menu: 1;
    --evento-pointer-menu: unset;
}

.header__boton-menu input {
    display: none;
}

@media (width >=1024px) {
    .header {
        --opacidad-menu: 1;
        --evento-pointer-menu: unset;
        display: flex;
        flex-direction: column;
        padding: var(--separacion) 0 0 0;
    }

    .header__logo {
        width: max(9.375rem, 20%);
    }

    .header__navegacion {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        gap: 25px;
        width: 100%;
        position: static;
        margin: 0;
        padding: 1.25rem 0;
        border-radius: 0;
        backdrop-filter: blur(0.375rem);
        border: none;
        border-top: 1px solid var(--color-gris-200);

        .navegacion__enlace {
            color: var(--color-gris-400);
        }

        .navegacion__enlace--btn {
            color: var(--color-blanco);
        }
    }

    .header__boton-menu {
        width: 40px;
        height: 40px;
        border: none;
        background-image: var(--icono-menu-boton);
        background-size: cover;
        background-position: center;
        cursor: pointer;
        transition: background-image .3s;
    }

    .header__logo img {
        margin: 0 auto;
        padding-bottom: 1.25rem;
    }

    .header__boton-menu {
        display: none;
    }
}

/** HEADER-MERCADO **/
.header-mercado {
    --icono-menu-mercado-boton: url(../assets/icons/navegacion/menu.svg);
    --opacidad-menu: 0;
    --evento-pointer-menu: none;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5625rem 0;
}

.header-mercado__nav {
    pointer-events: var(--evento-pointer-menu);
    opacity: var(--opacidad-menu);
    transition: opacity .4s;

    display: flex;
    flex-direction: column;
    gap: 1.25rem;

    padding: 1.25rem;
    margin: 0 auto;

    background: #fafafa10;
    backdrop-filter: blur(0.375rem);
    border: 1px solid var(--color-naranja-100);
    border-radius: 1rem;

    width: 90%;

    position: absolute;
    top: 100px;
    left: 0;
    bottom: 0;
    right: 0;
}

.header-mercado__input {
    width: 100%;
    border: none;
    background-color: var(--color-naranja-500);
    padding: 0.625rem;
    border-radius: 1.25rem;
}

.header-mercado__input::placeholder {
    color: var(--color-blanco);
}

.header-mercado__acciones {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

.header-mercado__enlace {
    padding: 0.625rem;
    border-radius: 1.25rem;
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--color-gris-400);
    background-color: var(--color-blanco);
}

.header-mercado__carrito {
    background-color: var(--color-naranja-500);
    padding: 0.625rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.25rem;
    border-radius: 6.25rem;

    color: var(--color-blanco);

    .header-mercado__info {
        display: none;
    }
}

.header-mercado__precio {
    font-weight: 700;
}

.header-mercado__precio,
.header-mercado__estado {
    margin: 0;
}

.header-mercado__icono-carrito {
    filter: var(--color-blanco);
    -webkit-filter: var(--color-blanco);
}

.navegacion__enlace {
    color: var(--color-gris-400);
}

.navegacion__enlace--btn {
    color: var(--color-blanco);
}

.header-mercado__boton-menu {
    width: 40px;
    height: 40px;
    border: none;
    background-image: var(--icono-menu-mercado-boton);
    background-size: cover;
    background-position: center;
    cursor: pointer;
    transition: background-image .3s;
}

.header-mercado:has(.header-mercado__menu-input:checked) {
    --icono-menu-mercado-boton: url(../assets/icons/navegacion/menu-scale.svg);
    --opacidad-menu: 1;
    --evento-pointer-menu: unset;
}

.header-mercado__boton-menu input {
    display: none;
}

@media (width >=1024px) {
    .header-mercado {
        --opacidad-menu: 1;
        --evento-pointer-menu: unset;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1.5625rem 0;
    }

    .header-mercado__nav {
        width: auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 6.25rem;
        padding: 0;
        margin: 0 auto 0 3.125rem;
        background: none;
        backdrop-filter: none;
        border: none;
        border-radius: 1rem;
        position: static;
    }

    .header-mercado__input {
        width: 450px;
        border: none;
        background-color: var(--color-naranja-500);
        padding: 0.625rem;
        border-radius: 1.25rem;
    }

    .header-mercado__input::placeholder {
        color: var(--color-blanco);
    }

    .header-mercado__acciones {
        display: flex;
        flex-direction: row;
        gap: 1.25rem;
    }

    .header-mercado__enlace {
        padding: 0;
        border-radius: 0;
        display: flex;
        align-items: center;
        gap: 10px;
        color: var(--color-gris-400);
        background-color: var(--color-blanco);
    }

    .header-mercado__carrito {
        padding: 0.625rem;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.75rem;
        border-radius: 0.625rem;

        color: var(--color-blanco);

        .header-mercado__info {
            display: block;
        }
    }

    .header-mercado__precio {
        font-weight: 700;
    }

    .header-mercado__precio,
    .header-mercado__estado {
        margin: 0;
    }

    .header-mercado__icono-carrito {
        filter: var(--color-blanco);
        -webkit-filter: var(--color-blanco);
    }

    .navegacion__enlace {
        color: var(--color-gris-400);
    }

    .navegacion__enlace--btn {
        color: var(--color-blanco);
    }

    .header-mercado__boton-menu {
        width: 40px;
        height: 40px;
        border: none;
        background-image: var(--icono-menu-mercado-boton);
        background-size: cover;
        background-position: center;
        cursor: pointer;
        transition: background-image .3s;
    }


    .header-mercado__boton-menu {
        display: none;
    }
}

/* Hero Home */
.hero {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0.25) 100%), url(../assets/img/hero/01-heroHome.avif) var(--color-gris-200) 50%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 550px;
    border-radius: 1.25rem;
    -webkit-border-radius: 1.25rem;
    -moz-border-radius: 1.25rem;
    -ms-border-radius: 1.25rem;
    -o-border-radius: 1.25rem;
}

/* hero mercado */
.hero-mercado {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0.25) 100%), url(../assets/img/hero/01-heroMercado.avif) var(--color-gris-200) 50%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 350px;
    border-radius: 1.25rem;
    -webkit-border-radius: 1.25rem;
    -moz-border-radius: 1.25rem;
    -ms-border-radius: 1.25rem;
    -o-border-radius: 1.25rem;
}

/* Beneficios Seccion */
.beneficios {
    padding: calc(var(--separacion) * 2) 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

@media (width >=768px) {
    .beneficios {
        flex-direction: row;
    }
}

.beneficios__tarjeta,
.beneficio-mercado {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.beneficios__imagen,
.beneficio-contenedor-imagen {
    width: 150px;
    height: 150px;
    background-color: var(--color-amarillo-500);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6.25rem;
    -webkit-border-radius: 6.25rem;
    -moz-border-radius: 6.25rem;
    -ms-border-radius: 6.25rem;
    -o-border-radius: 6.25rem;
    box-shadow: 0px 8px 12px 0px rgba(0, 0, 0, 0.04);
}

.beneficios__titulo,
.beneficio-mercado__titulo {
    margin-top: 1.25rem;
    font-size: 1.25rem;
    text-transform: uppercase;
}

/* servicios */
.servicios {
    display: flex;
    gap: 1.5rem;
    flex-direction: column;
    padding: var(--separacion) 0;
}

@media (width >=768px) {
    .servicios {
        padding: var(--separacion) 0;
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        gap: 1.5rem;
    }
}

.servicio {
    padding: 1.875rem;
    height: 18.75rem;
    border-radius: 1.25rem;
    -webkit-border-radius: 1.25rem;
    -moz-border-radius: 1.25rem;
    -ms-border-radius: 1.25rem;
    -o-border-radius: 1.25rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition-property: transform;
    transition-duration: .3s;
}

.servicio:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}

.servicio__titulo {
    font-weight: 700;
    font-size: 1.625rem;
}

.servicio__descripcion {
    font-size: 0.875rem;
}

@media (width >=768px) {
    .servicio__titulo {
        font-size: 28px;

    }

    .servicio__descripcion {
        font-size: 18px;
    }
}

.servicio__titulo,
.servicio__descripcion {
    color: var(--color-blanco);
}

.servicio:nth-child(1) {
    grid-column: 1 / 5;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0.35) 100%), url(../assets/img/servicios/servicio-01.webp) var(--color-gris-200) 100% / cover no-repeat;
}

.servicio:nth-child(2) {
    grid-column: 5 / 8;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0.35) 100%), url(../assets/img/servicios/servicio-02.webp) var(--color-gris-200) 100% / cover no-repeat;
}

.servicio:nth-child(3) {
    grid-column: 1 / 4;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0.35) 100%), url(../assets/img/servicios/servicio-03.webp) var(--color-gris-200) 100% / cover no-repeat;
}

.servicio:nth-child(4) {
    grid-column: 4 /8;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0.35) 100%), url(../assets/img/servicios/servicio-04.webp) var(--color-gris-200) 100% / cover no-repeat;
}

/* categorias mercado */
.categorias {
    padding: var(--separacion) 0;
}

.categorias__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1.5rem;
    padding-top: var(--separacion);
}

.categorias__tarjeta {
    height: 21.875rem;
    padding: 1.25rem;
    color: var(--color-blanco);
    border-radius: 1.25rem;
    -webkit-border-radius: 1.25rem;
    -moz-border-radius: 1.25rem;
    -ms-border-radius: 1.25rem;
    -o-border-radius: 1.25rem;
    background-position: center center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0px 8px 12px 0px rgba(0, 0, 0, 0.25);
    transition-property: transform;
    transition-duration: .3s;
}

.categorias__tarjeta:hover,
.categorias__tarjeta:focus {
    transform: scale(1.02);
    -webkit-transform: scale(1.02);
    -moz-transform: scale(1.02);
    -ms-transform: scale(1.02);
    -o-transform: scale(1.02);
}

.categorias__tarjeta:nth-child(1) {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0.35) 100%), url(../assets/img/categorias/01-embutidos.webp) var(--color-gris-200) 100% / cover no-repeat;
}

.categorias__tarjeta:nth-child(2) {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0.35) 100%), url(../assets/img/categorias/02-panaderia.webp) var(--color-gris-200) 100% / cover no-repeat;
}

.categorias__tarjeta:nth-child(3) {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0.35) 100%), url(../assets/img/categorias/03-lacteos.webp) var(--color-gris-200) 100% / cover no-repeat;
}

.categorias__tarjeta:nth-child(4) {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0.35) 100%), url(../assets/img/categorias/04-snacks.webp) var(--color-gris-200) 100% / cover no-repeat;
}

.categorias__nombre {
    font-size: 1.25rem;
    text-transform: uppercase;
}

.categorias__enlace {
    background-color: var(--color-amarillo-500);
    font-weight: 700;
    width: 60%;
    margin: 0 0 0 auto;
    text-align: center;
}

/* marcas seccion */
.marcas {
    height: 9.375rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
    margin: calc(var(--separacion) * 2) 0;
}

.marca {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0.35) 100%), url(../assets/img/categorias/01-embutidos.jpg) var(--color-gris-200) 100% / cover no-repeat;
    border-radius: 1.25rem;
    -webkit-border-radius: 1.25rem;
    -moz-border-radius: 1.25rem;
    -ms-border-radius: 1.25rem;
    -o-border-radius: 1.25rem;
}

/* productos seccion */
.productos__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1.5rem;
    padding: var(--separacion) 0;
}

.producto {
    background-color: var(--color-blanco);
    border-radius: 1.25rem;
    -webkit-border-radius: 1.25rem;
    -moz-border-radius: 1.25rem;
    -ms-border-radius: 1.25rem;
    -o-border-radius: 1.25rem;
    box-shadow: 0px 8px 12px 0px rgba(0, 0, 0, 0.25);
}

.producto__imagen {
    height: 200px;
    padding: 1.25rem;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0.35) 100%), url(../assets/img/productos/queso-dospinos.webp) var(--color-gris-200) 100% / cover no-repeat;
    border-radius: 1.25rem 1.25rem 0 0;
    -webkit-border-radius: 1.25rem 1.25rem 0 0;
    -moz-border-radius: 1.25rem 1.25rem 0 0;
    -ms-border-radius: 1.25rem 1.25rem 0 0;
    -o-border-radius: 1.25rem 1.25rem 0 0;
}

.producto__etiquetas {
    display: grid;
    row-gap: 5.5rem;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    color: var(--color-blanco);
}

.producto__etiqueta,
.producto__etiqueta--online,
.producto__etiqueta--descuento {
    background-color: var(--color-naranja-500);
    padding: 0.3125rem;
    border-radius: 0.3125rem;
    -webkit-border-radius: 0.3125rem;
    -moz-border-radius: 0.3125rem;
    -ms-border-radius: 0.3125rem;
    -o-border-radius: 0.3125rem;
    font-size: 0.75rem;
}

.producto__etiqueta--descuento {
    font-weight: 700;
}

.producto__etiqueta--online {
    justify-self: start;
}

.producto__etiqueta--favorito {
    background-color: transparent;
    cursor: pointer;
    justify-self: end;
}

.producto__etiqueta--descuento {
    justify-self: start;
}

.producto__contenido {
    padding: 0 1.25rem 1.25rem 1.25rem;
    text-align: center;
}

.producto__nombre,
.producto__precio {
    margin: 0;
}

.producto__precio {
    margin-bottom: 1.25rem;
}

.producto__precio .producto__precio--anterior {
    color: var(--color-gris-300);
    text-decoration: line-through;
}

.producto__precio--actual {
    font-weight: 700;
    font-size: 1.375rem;
}

.producto__nombre {
    padding: 1.25rem 0;
}

.producto__acciones {
    margin-top: 20px;
}

.producto__boton {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

/* beneficios */
.beneficios-mercado {
    padding: var(--separacion) 0;
}

.beneficios-mercado-grid {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

/* productos seccion */
.seccion-productos__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ruta__lista {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    list-style: none;
    margin: 0;
    padding: 0;
}

.ruta__item {
    font-weight: 700;
    color: var(--color-gris-400);
}

.ruta__item a {
    color: var(--color-gris-400);
}

.ruta__item--actual {
    font-weight: 400;
}

.orden__form {
    padding: 0.625rem;
    border: 1px solid var(--color-naranja-500);
    border-radius: 0.625rem;
    -webkit-border-radius: 0.625rem;
    -moz-border-radius: 0.625rem;
    -ms-border-radius: 0.625rem;
    -o-border-radius: 0.625rem;
}

.orden__select {
    border: none;
    font-weight: 700;
    padding: 0 0.625rem 0 0;
}

.orden__select:focus {
    border: none;
    outline: none;
}

/* newsleter */
.newsletter {
    height: 450px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0.35) 100%), url(../assets/img/newsletter/newsletter.avif) var(--color-gris-200) 100% / cover no-repeat;
    background-position: 0 0;
    border-radius: 1.25rem;
    -webkit-border-radius: 1.25rem;
    -moz-border-radius: 1.25rem;
    -ms-border-radius: 1.25rem;
    -o-border-radius: 1.25rem;
    margin-top: 2.1875rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.875rem;

}

@media (width >=768px) {
    .newsletter {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.newsletter__contenido {
    max-width: 34.375rem;
    color: var(--color-blanco);
    text-align: center;
}

.newsletter__titulo {
    font-weight: 400;
    padding-bottom: 0.9375rem;
    font-size: 30px;
}

.newsletter__descripcion {
    font-size: 18px;

}

.newsletter__titulo,
.newsletter__descripcion {
    text-align: center;
}

@media (width >=768px) {
    .newsletter__titulo {
        font-size: 2.25rem;
    }

    .newsletter__descripcion {
        font-size: 1.625rem;
        line-height: 1.4;

    }
}

.newsletter__formulario {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

@media (width >=768px) {
    .newsletter__formulario {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 1.125rem;
        padding-top: 1.875rem;
    }
}

.newsletter__input:nth-child(1) {
    flex: 1;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border: none;
    padding: 0.375rem 0.625rem;
}

.newsletter__input:focus {
    outline: 2px solid var(--color-naranja-500);
}

/* login */
.body-color-login {
    background-color: var(--color-naranja-50);
}

.login {
    background-color: var(--color-blanco);
    width: 90%;
    max-width: 34.375rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.875rem;
    border-radius: 1.25rem;
    -webkit-border-radius: 1.25rem;
    -moz-border-radius: 1.25rem;
    -ms-border-radius: 1.25rem;
    -o-border-radius: 1.25rem;
    box-shadow: 0px 8px 12px 0px rgba(0, 0, 0, 0.10);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media (width >=768px) {
    .login {
        width: 28.125rem;
    }
}

.login__form {
    width: 100%;
    padding: 2.5rem 0;
}

.login__fieldset {
    width: 100%;
    padding: 0;
    margin: 0;
    border: none;
    text-align: center;
}

.login__legend {
    font-size: 2rem;
    padding-bottom: 2.5rem;
}

.login__campo {
    margin-bottom: 1.25rem;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.login__input {
    width: 100%;
    overflow: hidden;
    border: none;
    border-radius: 0.625rem;
    padding: 0.625rem 0.9375rem;
    background-color: var(--color-naranja-500);
    color: var(--color-blanco);
}

.login__input::placeholder {
    color: var(--color-blanco);
}

.login__input:focus {
    outline: 2px solid var(--color-naranja-700);
}

.login__submit {
    width: 100%;
    overflow: hidden;
    text-transform: uppercase;
    font-weight: 700;
    padding: 0.75rem 0.9375rem;
}

.login__redes {
    width: 100%;
}

.login__texto-redes {
    text-align: center;
    margin: 0;
}

.login__sociales {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 1.25rem;
}

.login__social {
    background-color: var(--color-blanco);
    padding: 0.625rem;
    border-radius: 6.25rem;
    -webkit-border-radius: 6.25rem;
    -moz-border-radius: 6.25rem;
    -ms-border-radius: 6.25rem;
    -o-border-radius: 6.25rem;
    box-shadow: 0px 8px 12px 0px rgba(0, 0, 0, 0.10);
}

/* footer */
.site-footer {
    padding-top: var(--separacion);
}

.footer-grid {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.footer__titulo {
    font-size: 1.25rem;
    font-weight: 700;
    margin-bottom: 0.75rem;
}

.footer__menu .footer__enlace {
    display: block;
    color: var(--color-gris-400);
}

.footer__menu__social-media {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin: 1.25rem 0;
}

.footer-grid>div:nth-child(3) .footer__enlace {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.footer__tiendas {
    display: flex;
    gap: 1.5rem;
    align-items: center;
    margin: 1.25rem 0;
}

.footer_copyright {
    padding: 1.25rem 0;
    margin: 0;
    font-weight: 700;
    text-align: center;
    background-color: var(--color-naranja-500);
    color: var(--color-blanco);
}